:root {
  --spoiler-color: hsl(0, 0%, 0%);
  --post-bg-color: hsl(216, 12%, 92%);
}

body {
  font-family: sans-serif;
  color: var(--spoiler-color);
}

p {
  line-height: 1.5em;
}

.post {
  background-color: var(--post-bg-color);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  max-inline-size: 400px;
  margin-inline: auto;
}

.spoiler {
  background-color: var(--spoiler-color);
  transition: background-color 0.5s ease-in;
  cursor: pointer;
}

.spoiler:hover {
  background-color: initial;
}
